@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* Prevents double scrolling with the editor */
}

/* Customizing the CodeMirror container to fit our theme */
.cm-editor {
  height: 100% !important;
  outline: none !important;
}

.cm-scroller {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
  font-size: 14px;
}